<div id="page">
  <div class="container">

    <table cellspacing="0" cellpadding="0" class="admin-table">
      <tr>
        <th>No.</th>
        <th>Email</th>
        <th width="100">Credit (MYR)</th>
        <th width="200"></th>
      </tr>
      <tr>
        <td>1</td>
        <td><a href="mailto:user1@email.com">user1@email.com</a></td>
        <td>200</td>
        <td><%= link_to "View payment history »", admins_payments_path %></td>
      </tr>
      <tr>
        <td>2</td>
        <td><a href="mailto:user2@email.com">user2@email.com</a></td>
        <td>800</td>
        <td><%= link_to "View payment history »", admins_payments_path %></td>
      </tr>
      <tr>
        <td>3</td>
        <td><a href="mailto:user3@email.com">user3@email.com</a></td>
        <td>100</td>
        <td><%= link_to "View payment history »", admins_payments_path %></td>
      </tr>
    </table>

  </div><!-- /container -->
</div><!-- /page -->
