<div id="page">
  <div class="container">

    <h2 style="color: #FFF; font-weight: 500; font-size: 18px;margin-bottom: -15px;">user2@email.com Payment History</h2>

    <table cellspacing="0" cellpadding="0" class="admin-table">
      <tr>
        <th width="40">No.</th>
        <th width="200">Date</th>
        <th>Amount (MYR)</th>
      </tr>
      <tr>
        <td>1</td>
        <td>13/4/2014</td>
        <td>200</td>
      </tr>
      <tr>
        <td>2</td>
        <td>5/4/2014</td>
        <td>800</td>
      </tr>
      <tr>
        <td>3</td>
        <td>29/3/2014</td>
        <td>100</td>
      </tr>
    </table>

  </div><!-- /container -->
</div><!-- /page -->
