<div id="footer">
  <%= image_tag "casino.png", class: "casino" %>
  <div class="stamps-row">
    <h5>Security &amp; Trust</h5>
    <%= image_tag "footer/security.png" %>
  </div>
  <div class="copyright">Copyright &copy; 2014 128Win. All Rights Reserved.</div>
</div><!-- /footer -->
