<div class="container-fluid">
  <div class="row">

    <!-- Sidebar starts -->
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li>
          <a href="/operator/dashboard"><b>Monitor</b></a>
        </li>
        <li><a href="/operator/transactions">&nbsp;&nbsp;<span class="glyphicon glyphicon-credit-card"></span>&nbsp; Latest Transaction</a></li>
        <li><a href="/operator/registers">&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span>&nbsp; Latest Register</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="/operator/report"><b>Report</b></a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li>
          <a href="/operator/member-info"><b>Member Info</b></a>
        </li>
        <li><a href="/operator/member-list">&nbsp;&nbsp;<span class="glyphicon glyphicon-th-list"></span>&nbsp; Member List</a></li>
        <li><a href="/operator/member-log">&nbsp;&nbsp;<span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Member Log</a></li>
        <li class="active"><a href="/operator/admin-password">&nbsp;&nbsp;<span class="glyphicon glyphicon-lock"></span>&nbsp; Admin Password</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li>
          <a href="/operator/messages" data-toggle="collapse" data-target="#message-nav"><b>Message</b></a>
        </li>
        <li><a href="/operator/user-message">&nbsp;&nbsp;<span class="glyphicon glyphicon-inbox"></span>&nbsp; User Message</a></li>
        <li><a href="/operator/public-message">&nbsp;&nbsp;<span class="glyphicon glyphicon-bullhorn"></span>&nbsp; Public Message</a></li>

      </ul>
    </div>
    <!-- Sidebar ends -->

    <!-- Main Content starts -->
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

      <h2 class="sub-header">Admin Password</h2>
      <form role="form">
        <div class="input-group">
          <label>Old Password *</label>
          <input type="password" class="form-control">
          <br>
          <br>
          <br>
          <label>New Password *</label>
          <input type="password" class="form-control">
          <br>
          <br>
          <br>
          <label>Confirm New Password *</label>
          <input type="password" class="form-control">
          <br><br><br><br>
          <input type="submit" value="Save Password" class="btn btn-success">
        </div>
      </form>
    </div>
    <!-- Main Content ends -->

  </div><!-- /row -->
</div><!-- /container-fluid -->
