<div id="page">
  <div class="container">

    <div class="payment-respond">
      <br>
      <%= image_tag "failed.png" %>
      <br>
      <p>We are sorry, but the payment you made did not success. Please try again later.</p>
      <div class="back-row" style="text-align: center;"><%= link_to "« Back", :back %></div>
    </div>

  </div><!-- /container -->
</div><!-- /page -->
