<div id="page">
  <div class="container">

    <div class="payment-respond">
      <br>
      <%= image_tag "success.png" %>
      <br>
      <p>Thank you!<br>Your payment made successfully.</p>
      <div class="back-row" style="text-align: center;"><%= link_to "« Back", :back %></div>
    </div>

  </div><!-- /container -->
</div><!-- /page -->
