<div id="page" class="info-page">
  <div class="container">

    <h1>4D</h1>

    <ul class="catalog-list">
      <li>
        <a href="http://my.12winasia.com/4d-damacai-magnum-toto-kuda.aspx" target="_blank">
          <span class="img-holder"><%= image_tag "samples/4d-1.jpg" %></span><span class="text">
            <h2>PSBET</h2>
            <h3>Online 4D betting, Magnum, Toto, Damacai (PMP), STC, Singapore, Sabah & Sarawak 4D</h3>
            <p>Want open the online 4D betting account? Registration is free. No need Q-up to buy 4D and get high payment.
Now you are at the right place to place online bet on all major 4D company in Malaysia, Singapore, Sabah & Sarawak. Interested to open an account and know more? Just contact 12WIN at anytime.</p>
          </span>
        </a>
      </li>
    </ul>

  </div><!-- /container -->
</div><!-- /page -->
