<div id="page" class="info-page">
  <div class="container">

    <h1>Banking</h1>

    <div class="info-pane">
      <h2>How To Deposit</h2>
      <p>In order to deposit,you must first be a registered member.</p>
      <p>If you are already a member,please follow the instruction below to deposit to your gaming account.</p>
      <ol>
        <li>Login by entering your username and password.</li>
        <li>Click on deposit.</li>
        <li>Enter deposit amount and click on your preferred payment method and follow the screen instruction.</li>
        <li>Select the bonus you want to claim and submit the form.</li>
        <li>We are using real time monitor system. So we will see your transaction immediately after you submit the form.</li>
        <li>We will process your request in 5 minutes. Please always check your "Status" to get your new account detail.</li>
        <li>Please retain the bank receipt or transaction reference id as we might request it for proof of transaction.</li>
        <li>If you do not receive our reply within half an hour,you may always contact our customer services.</li>
        <li>Customers are required to perform wagers where the total amount equals or more than 50% of deposit amount; failing which any withdrawal requests would be subjected to 5% service & administration charges based on total deposited amount.</li>
      </ol>
      <br>
      <p>( Our system is 1st come 1st serve, or some time banking system is slow or down also will make your request processing time delay )</p>

      <table class="banking" border="1">
          <tr>
            <th rowspan="2" width="100">Bank Name</th>
            <th rowspan="2" width="100">Transaction</th>
            <th rowspan="2" width="150">Banking Method</th>
            <th colspan="2" width="150">Transaction Limit</th>
            <th rowspan="2" width="140">Processing Time</th>
          </tr>
           <tr>
            <th width="100">Min</th>
            <th width="100">Max</th>
          </tr>

          <tr>
            <td rowspan="2" class="ctr"><%= image_tag "samples/mbb.jpg" %></td>
            <td class="nor">Deposit</td>
            <td class="nor">ATM / Internet</td>
            <td class="ctr">50.00</td>
            <td class="ctr">30,000.00</td>
            <td class="ctr">5 Minutes</td>
          </tr>
          <tr>
            <td class="nor">Withdrawal</td>
            <td class="nor">Local Bank Transfer</td>
            <td class="ctr">50.00</td>
            <td class="ctr">30,000.00</td>
            <td class="ctr">15 Minutes</td>
          </tr>

          <tr>
            <td rowspan="2" class="ctr"><%= image_tag "samples/pbb.jpg" %></td>
            <td class="nor">Deposit</td>
            <td class="nor">ATM / Internet</td>
            <td class="ctr">50.00</td>
            <td class="ctr">30,000.00</td>
            <td class="ctr">5 Minutes</td>
          </tr>
          <tr>
            <td class="nor">Withdrawal</td>
            <td class="nor">Local Bank Transfer</td>
            <td class="ctr">50.00</td>
            <td class="ctr">30,000.00</td>
            <td class="ctr">15 Minutes</td>
          </tr>

          <tr>
            <td rowspan="2" class="ctr"><%= image_tag "samples/cimb.jpg" %></td>
            <td class="nor">Deposit</td>
            <td class="nor">ATM / Internet</td>
            <td class="ctr">50.00</td>
            <td class="ctr">30,000.00</td>
            <td class="ctr">5 Minutes</td>
          </tr>
          <tr>
            <td class="nor">Withdrawal</td>
            <td class="nor">Local Bank Transfer</td>
            <td class="ctr">50.00</td>
            <td class="ctr">30,000.00</td>
            <td class="ctr">15 Minutes</td>
          </tr>

          <tr>
            <td rowspan="2" class="ctr"><%= image_tag "samples/HLB.jpg" %></td>
            <td class="nor">Deposit</td>
            <td class="nor">ATM / Internet</td>
            <td class="ctr">50.00</td>
            <td class="ctr">30,000.00</td>
            <td class="ctr">5 Minutes</td>
          </tr>
          <tr>
            <td class="nor">Withdrawal</td>
            <td class="nor">Local Bank Transfer</td>
            <td class="ctr">50.00</td>
            <td class="ctr">30,000.00</td>
            <td class="ctr">15 Minutes</td>
          </tr>

        </table>


    </div><!-- /info-pane -->

  </div><!-- /container -->
</div><!-- /page -->
