<div id="page" class="info-page">
  <div class="container">

    <h1>casino</h1>

    <ul class="catalog-list">
      <li>
        <a href="http://my.12winasia.com/Home.aspx" target="_blank">
          <span class="img-holder"><%= image_tag "samples/casino-1.jpg" %></span><span class="text">
            <h2>12win Casino</h2>
            <h3>More than 100 Casino Games for You</h3>
            <p>12win Casino is Asia's pioneering online casino providing non-stop gaming and entertainment to hundreds of thousand players in the region. For Live Games, they offer Live Baccarat, Live Roulette, Live Blackjack, Live Sic Bo and much more. With over 350 people in its 24/7 operations and support services, customers are guaranteed of a fun and satisfying casino gaming every time they visit 12win Casino.</p>
          </span>
        </a>
      </li>
      <li>
        <a href="http://www.1scasino.com/Main.aspx" target="_blank">
          <span class="img-holder"><%= image_tag "samples/casino-2.jpg" %></span><span class="text">
            <h2>1S Casino</h2>
            <h3>Offering a quality internet casino gaming experience</h3>
            <p>At 1S CASINO, You now can enjoy the best online casino experience out there when you play casino online. Members can now enjoy the most extensive ranges of visually stunning and interactive Casino games such as Poker, Slot Game, Roulette, Blackjack, Baccarat, Sic Bo, Dragon Tiger, SeDie, FanTan etc</p>
          </span>
        </a>
      </li>
      <li>
        <a href="https://www.vwin.com/home.aspx" target="_blank">
          <span class="img-holder"><%= image_tag "samples/casino-3.jpg" %></span><span class="text">
            <h2>V Win</h2>
            <h3>Offering wide range of live casino games</h3>
            <p>V WIN offering live casino games in live dealer, ultimate, multibet, robot live, robot multibet, slots game, video poker, big game machine, table game, classoc slots and more..</p>
          </span>
        </a>
      </li>
      <li>
        <a href="http://www.asia855.com/asia855/index.jsp" target="_blank">
          <span class="img-holder"><%= image_tag "samples/casino-4.jpg" %></span><span class="text">
            <h2>Asia 855</h2>
            <h3>About Asia 855</h3>
            <p>Asia855 offering live casino games in Baccarat, Insurance Baccarat, Dragon Tiger, Roulette, Sic-Bo, SeDie, Sic-Bo FanTan and more. Multi view function and games reports is available.</p>
          </span>
        </a>
      </li>
    </ul>

  </div><!-- /container -->
</div><!-- /page -->
