<div id="page" class="info-page two-col">
  <div class="container">

    <div class="aside">
      <h3>PROMOTION</h3>
      <ul>
        <li>★ 30% Welcome Bonus</li>
        <li>★ Unlimited instant cash rebate 0.6%</li>
        <li>★ Become MYR288 weekly 88 lucky pick winner!!</li>
        <li>★ 100% welcome bonus up to MYR500</li>
        <li>★ New registered members up to MYR188810%</li>
        <li>★ Loyalty Bonus, No Limit within 30days!</li>
      </ul>
    </div>
    <div class="section">
      <div class="offset">
        <h2>24/7 CUSTOMER SUPPORT</h2>
        <h4>Live Chat</h4>
        <p>You can chat to us live through our live chat option. This will open a chat window with one of our support consultants.</p>
        <h4>Email</h4>
        <p>You can send us an email if you have any questions or issues. For emails about unresolved queries <a href="mailto:enquiries@128win.net">click here</a> and we will get back to you as soon as possible.</p>
        <h4>Forgot your password?</h4>
        <p>If you have lost or forgotten your password <%= link_to "click here", new_password_path(resource_name) %> to reset it.</p>
      </div>
    </div><!-- /section -->
    <div class="clearfix"></div>

  </div><!-- /container -->
</div><!-- /page -->
