<div id="page" class="info-page">
  <div class="container">

    <h1>Sportsbook</h1>

    <ul class="catalog-list">
      <li>
        <a href="https://www.sbobet.com/" target="_blank">
          <span class="img-holder"><%= image_tag "samples/sport-1.jpg" %></span><span class="text">
            <h2>SBONET</h2>
            <h3>The most competitively priced odds among the major sportsbooks worldwide</h3>
            <p>World's leading Asian online gaming brand. They offer over 500 sports betting events every week, with extensive coverage of all major football leagues and international sporting events. They also provide live football updates, immediate winnings confirmation, rapid payouts, easy access and fast online betting available around the clock.</p>
          </span>
        </a>
      </li>
      <li>
        <a href="http://www.ibcbet.com/" target="_blank">
          <span class="img-holder"><%= image_tag "samples/sport-2.jpg" %></span><span class="text">
            <h2>IBCBET</h2>
            <h3>The largest sports betting operator in Asia</h3>
            <p>Sports events available for betting include: football, basketball, American football, ice and field hockey, volleyball, beach volleyball, handball, darts, tennis, badminton, table tennis, snooker, pool, golf, motorsports, cricket, boxing, rugby, athletics, swimming, and MANY more! IBCBET also provides the betting on horse and dog racing, a casino and a poker room as well as a bingo site.</p>
          </span>
        </a>
      </li>
      <li>
        <a href="http://www.winningft.com/Main.aspx?lang=EN-US" target="_blank">
          <span class="img-holder"><%= image_tag "samples/sport-3.jpg" %></span><span class="text">
            <h2>WINNING FT</h2>
            <h3>Offer up to 30,000 bets daily with betting action in more than 90 sports</h3>
            <p>Winning FT offers more than 70 sports market on the web as well as a wide coverage of all sporting events all over the globe. You can place your bet on NFL, NBA and all the major international soccer leagues such as EPL, Champions League, FIFA and much more. It also offers lottery arcade, keno and online casino (Live Baccarat, Live Sic Bo, Live 3D Roulette etc) in the Philippines, Hongkong, Thailand, Malaysia and the United Kingdom.</p>
          </span>
        </a>
      </li>
      <li>
        <a href="http://www.tbsbet.com/Home/Index.aspx?lang=en" target="_blank">
          <span class="img-holder"><%= image_tag "samples/sport-4.jpg" %></span><span class="text">
            <h2>TBSBET</h2>
            <h3>Provide more bet page style for you and change for you</h3>
            <p>TBSBET (Top Bookies Sports Betting) is a fully registered online gambling and entertainment company. As well as Sports, they also have first-class Casino, Games, Poker and Bingo rooms on the internet. At TBSBET, they operate a simple one-wallet system, meaning you have the same username, password and payment method to play at sports and financials betting, Casino, Games, Poker and Bingo with the minimum of fuss.</p>
          </span>
        </a>
      </li>
    </ul>

  </div><!-- /container -->
</div><!-- /page -->
